@charset "UTF-8";
/* CSS Document */

html {
	
}

body {
	background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
}

#container {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#header {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#photo {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#sensor {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#footer {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
